<nav class="navbar">
    <p>
        <a href='{% url "streaks:home" %}' class="nav-heading">STREAKY</a>
    </p>

    <!-- Navlinks? -->
    <div class="nav-link-container">
        {% if user.is_authenticated %}
        <p>
            <a href='{% url "streaks:home" %}' class="nav-link">HOME</a>
        </p>

        <p>
            <a href='{% url "streaks:edit" %}' class="nav-link">EDIT STREAK</a>
        </p>

        <p>
            <a href='{% url "streaks:account" %}' class="nav-link">ACCOUNT</a>
        </p>

        <p>
            <a href='{% url "users:logout" %}' class="nav-link">LOGOUT</a>
        </p>
        {% else %}
        <p>
            <a href='{% url "users:login" %}' class="nav-link">LOGIN</a>
        </p>

        <p>
            <a href='{% url "users:signup" %}' class="nav-link">SIGNUP</a>
        </p>
        {% endif %}
    </div>
</nav>
