{% extends "layout.html" %}

<!-- Title -->
{% block title %} Login {% endblock %}

<!-- Body Content -->
{% block content %}

<!-- Login Form -->
<div class="auth-box">
    <!-- Login form -->
    <div class="auth-box-container">
        <!-- Form Heading -->
        <h1 class="auth-heading">Login</h1>

        <!-- Messagebox -->
        <div class="msg-container">
            {% if message %}
            <p class="msg msg-error">{{message}}</p>
            {% endif %}
        </div>

        <!-- Form Fields -->
        <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            <div class="auth-input-field-container">
                <input
                    type="text"
                    name="username"
                    class="auth-field-control"
                    placeholder="Username"
                    required
                    autofocus
                    autocomplete="off" />
                <input
                    type="password"
                    name="password"
                    class="auth-field-control"
                    placeholder="Password"
                    required
                    autocomplete="off" />
                <input type="submit" value="Login" class="field-button" />
                <div class="or-container">
                    <hr />
                    <p>OR</p>
                    <hr />
                </div>
                <a href="{% url 'users:signup' %}" class="auth-link">Create an account</a>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
